.App {
  /* text-align: center; */
}


.singing-pic-container {
  width: 100%;
  /* max-width: 1400px; */
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  border: 1px solid black;
  width: 50%;

  position: absolute;
  font-size: 40px;
  font-weight: 700;
  top: 8px;
  right: 16px;
}

.flex-container {
  display: flex;
  
}

.about-me {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}