.App {
  /* text-align: center; */
}

.singing-pic-container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.singing-pic {
  position: relative;
}

.top-right {
  width: 50%;
  position: absolute;
  font-size: calc(3vw - 3px);
  font-weight: 700;
  top: 6%;
  right: 16px;
}

.home-container {
  display: flex;
}

.about-me {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
}

.project-container {
  display: flex;
  
}